.form-floating {
    width: 30%;
    height: 5%;
    margin-left: 35%;
}
.hey {
    background-color: rgb(123, 198, 255);
    width: 30%;
    height: 9%;
    margin-left: 0%;
    margin-top: 4%;
}
.heyhey {
    margin-top: 5%;
}
.dumb {
    align-items: center;
}